<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Club Couture Maison Alfort">
    <meta name="Keywords" content="Couture Maison Alfort association Embellir la vie">
    <meta name="Subject" content="Couture Maison Alfort Val de marne">
    <meta name="Author" content="Embellier la vie">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body onload="initialiser()">
<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="{{ path('homepage') }}" class="logo">Embellir la vie</a>
        <nav id="nav">
            <a href="{{ path('homepage') }}">Accueil</a>
            <a href="{{ path('classes') }}">Les cours</a>
            <a href="{{ path('slideshow') }}">Diaporama</a>
            <a href="{{ path('infospage') }}">Lieux, Horaires, Tarifs</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</header>
<a href="{{ path('homepage') }}" class="navPanelToggle"><img src="{{ asset('images/bars-solid.svg') }}"
                                                             width="30px"></a>

<!-- Banner -->
<section id="banner">
    <div class="inner">

    </div>
</section>

{% block body %}{% endblock %}

<!-- Footer -->
<section id="footer" class="two">
    <div class="inner">
        <article>
            <div class="content">
                <div class="copyright">
                    &copy; 2019 EMBELLIR LA VIE association loi 1901<br>
                    Affiliée à l’Office Municipal de la Culture de Maisons–Alfort<br>
                    Tout droit réservé.
                    Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a
                            href="https://unsplash.com/">Unsplash</a>
                </div>
            </div>
        </article>
        <article class="responsive">
            <div class="content">
                <div class="image fit">
                    <img src="{{ asset('images/logo.webp') }}" alt=""/>
                </div>
            </div>
        </article>
    </div>
</section>

<!-- Scripts -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/skel.min.js') }}"></script>
<script src="{{ asset('assets/js/util.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
