{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h2>LES COURS</h2>
        </div>
    </section>

    <!-- Three -->
    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <img src="{{ asset('images/icon/needles.png') }}">
                    <header>
                        <h3>Couture</h3>
                    </header>
                    <p>Les cours de couture sont pour tous les niveaux, ils durent 2 heures.
                        Chaque élève apporte son projet, son tissu, son fil, ses petits outils et éventuellement sa
                        machine à coudre (mais ce n’est pas obligatoire).
                        Sont fournis : les patrons, les machines à coudre, de la mercerie.</p>
                </div>
            </article>
            <article>
                <div class="content">
                    <img src="{{ asset('images/icon/thread-ball.png') }}">
                    <header>
                        <h3>Tricot</h3>
                    </header>
                    <p>Les cours de tricot sont pour tous les niveaux même lieu et même heure que la couture.</p>
                </div>
            </article>
            <article>
                <div class="content">
                    <img src="{{ asset('images/icon/needle-with-thread-to-sew-clothes.png') }}">
                    <header>
                        <h3>Broderie</h3>
                    </header>
                    <p>Les cours de broderie sont surtout pour les débutants et niveau moyen.
                        On apporte sa toile et son fil.</p>
                </div>
            </article>
        </div>
    </section>

    <div class="image fit">
        <img src="{{ asset('images/wool-ball.jpg') }}" alt="" width="30%" class="round"/>
    </div>

    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h2>LES THES A L'AIGUILLE</h2>
        </div>
    </section>

    <!-- Section -->
    <section>
        <div class="inner">
            <article>
                <div class="content">
                    <p>Tous les mardis en période scolaire, de 17 h 15 à 18 h 15 pour les couturières, tricoteuses et
                        brodeuses, il y a possibilité de se retrouver avec un professeur pour prendre le thé (on apporte
                        ses gâteaux) et demander toute aide, conseil, dépannage, essayage pour avancer son ouvrage, on
                        peut aussi trouver un patron (parmi 3000 patrons) et de la mercerie.</p>
                </div>
            </article>
        </div>
    </section>

    <div class="image fit">
        <img src="{{ asset('images/tea-time.jpg') }}" alt="" width="20%" class="round"/>
    </div>

    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h2>LES ATELIERS</h2>
        </div>
    </section>

    <!-- Section -->
    <section>
        <div class="inner">
            <article>
                <div class="content">
                    <p class="no-margin">
                        Des ateliers sont organisés de façon ponctuelle avec des spécialistes concernés.<br>
                        Il est envisagé de faire des ateliers :
                    </p>
                    <ul class="liste">
                        <li>accessoires de mode : sacs, bijoux, chapeaux…</li>
                        <li>Décoration pour la maison et le jardin avec un architecte</li>
                        <li>Préparation des fêtes : anniversaires, mariage, profession de foi, retraite,
                            Saint-Sylvestre….
                        </li>
                    </ul>
                    <p>
                        Il est envisagé la création d’un atelier permanent pour la réflexion et la réalisation
                        d’adaptations
                        pour les personnes à mobilité réduite : vêtements, mobilier, redistribution ou aménagement de
                        l’environnement de la personne handicapée.
                    </p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}