{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
    <!-- Section -->
    <section id="one">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h1>Contactez-nous</h1>
                    </header>
                    <p>
                        Si vous désirez des renseignements sur l'association, les cours, les horaires, les tarifs,
                        n'hésitez pas à me contacter et je vous répondrai dans les plus brefs délais.
                    </p>
                    <p class="align-center">
                        EMBELLIR LA VIE<br>
                        10 rue Chevreul 94700 Maisons Alfort<br>
                        01.43.68.26.15 - 06 08 67 43 60
                    </p>
                </div>
                <div>
                    {{ form_start(form) }}
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall) formtext">
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="6u$ 12u$(xsmall) formtext">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="12u$">
                        {{ form_widget(form.title) }}
                        {{ form_widget(form.content) }}
                    </div>
                    <button type="submit" class="special">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </article>
        </div>
    </section>
{% endblock %}